<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Converter From Celsius</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form th:object="${fahrenheit}" method="post">

        <input type="text" th:field="*{input}" />
        <input type = "submit" />

        <select th:field="*{temp}">
            <option th:each="tempTypes : ${tempTypes}"
                    th:value="${tempTypes}"
                    th:text="${tempTypes}">
            </option>
        </select>

        </select>
    </form>

    <p th:text="${result}" />

            <div style="color:red; padding-top: 15px; padding-bottom: 15px; font-size:16px; font-weight: bold;" th:text="${error}"></div>
            </div>

</body>
</html>